[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
pytest-cov = "*"
lpl = {path = ".",editable = true}
ipykernel = "*"
pandas = "*"
matplotlib = "*"

[packages]
lpl = {path = ".",editable = true}
gluonnlp = "==0.8.1"
regex = "*"
mxnet-cu101mkl = "~=1.5.1"

[requires]
python_version = "3.7"
